body {
  background-color: #D2B48C;
  color: #333;
  margin: 20px;
  padding: 20px;
  height:100%;
}


td  {
  font-family:cursive;
}

h1 ,h2{
 color: #800020;

  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

.maintopic {
  background-color: #800020;
}
  .title {
  color: white;
}
